.intro {
    background-image: url(https://megymegs.github.io/LEM/assets/background.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.intro img {
    border-radius: 50%;
    border: 5px solid;
}

.intro h1 {
    font-family: 'Great Vibes', cursive;
    background: -webkit-linear-gradient(#cf7500 25%, #f0a500 60%, #cf7500 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    text-shadow: -2px -1.5px 0.4px #fff;
}

.intro .options-holder {
    justify-content: space-around;
}

.intro .options-holder a, .intro .options-holder p {    
    text-decoration: none;
    cursor: pointer;
}

.intro .options-holder img, .modal-footer a img {
    border-radius: 0;
    border: 0;
    width: 50px;
}

.intro .options-holder span, .modal-footer a span {
    display: block;
    color: #000;
    text-decoration: none;
}

#pamphlet {
    display: none;
    background-image: url(https://megymegs.github.io/LEM/assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#pamphlet .modal-content {
    background-color: #ffffff9e;
}

#page1, #page2, #page3, #heading1, #heading2, #heading3 {
    display: none;
}

.paul-barrers {
    justify-content: center;
    align-items: center;
}

.paul-barrers img {
    width: 120px;
    height: 150px;
}

.paul-barrers ul {
    padding-left: 0;
    list-style-type: none;
    align-items: center;
}

.process-plan h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
    font-family: 'Cinzel', serif;
}

.process-plan h4 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0;
    font-family: 'Patrick Hand', cursive;
}

.process-plan h5 {
    font-size: 1.25em;
    line-height: 1.2em;
    margin-bottom: 1em;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Slabo 27px', serif;
    color: #000;
}

.process-plan h5 img {
    width: 30px;
    height: 30px;
}

.closing span {
    font-family: 'Great Vibes', cursive;
}

.closing span.fspan {
    color: red;
}

.thank-yous h3 {
    text-transform: capitalize;
}

.thank-yous h3, .thank-yous h4 {
    font-family: 'Cinzel', serif;
}

.thank-yous h5 {
    font-family: 'Satisfy', cursive;
}


.modal-footer {
    justify-content: unset !important;
}

.modal-footer .ml-auto {
    margin-left: auto !important;
}

@media (max-width: 991px) {
    .paul-barrers img {
        width: 70px;
        height: 90px;
    }

    .process-plan {
        padding: 20px 0;
        margin-top: 20px;
        position: relative;
    }

    .process-plan::before {
        content: "";
        position: absolute;
        background-color: #b1b1b1;
        height: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .process-plan::after {
        content: "";
        position: absolute;
        background-color: #b1b1b1;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
}

@media (max-width: 575px) {
    .paul-barrers h4 {
        font-size: 1.1em;
    }
    
    .paul-barrers img {
        width: 100px;
        height: 120px;
    }
}
